*{background-color: rgb(194, 208, 234);}
.container{
  position: absolute;
  left:30%; top:10%;
  text-align: center;
}
#input_box{
  width: 600px; height:50px; 
  background-color: white;}
.table{
  font-weight: 800; font-size: 20px;
}
#todo,#todoList{margin-left: 250px;}
#done,#doneList{margin-left: 200px;}

#todoList{
  position: relative;
  left:-70%; 
  text-align: left;
}
