#buttons>*{
  background-color:rgb(223, 222, 222);
  border-color:#000000;
  border-radius: 10%;
  width:40px;
  height: 30px;
  line-height: 10px;
}

#all{
  position:static;
  margin-left:10px;
  margin-top: -480px;
}